# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
*.egg-info/
dist/
build/

# Streamlit and FastAPI
.streamlit/

# Environment variables
.env

# ChromaDB and data
data/chroma_db/
data/chunks/
data/pdfs/
data/chroma_db/
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Logs
*.log